<div ui-tree-handle>
  <a class="btn btn-xs" data-nodrag ng-click="tryToggle(this)" ng-if="item.tp != 3">
    <span class="fa" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
  </a>
    <a class="btn btn-xs" data-nodrag
       ng-if="item.tp == 3">
        <span class="fa fa-user"></span>
    </a>
  {{item.name}}
  <a class="pull-right btn btn-primary btn-xs" data-nodrag
     ng-click="edit(this)" style="margin-right: 8px;">
    <span class="fa fa-edit"> 编辑</span>
  </a>
  <span style="font-weight: lighter; margin-left: 10px;">
    <small>{{item.memo}}</small>
  </span>
</div>
<ol ui-tree-nodes="options" style="min-height: 20px" ng-model="item.children" ng-class="{hidden: collapsed}">
    <li style="border: 1px #dddddd dotted;" ng-repeat="item in item.children" ui-tree-node data-collapsed="true"
        ng-include="'views/w/org_tree.html'">
  </li>
</ol>
