<div class="modal-header">
    <h3 class="modal-title">重置密码</h3>
</div>
<form name="frm" class="form-horizontal" role="form" ng-submit="frm.$valid && ok()">
    <div class="modal-body">
        <div class="form-group">
            <label for="uid" class="col-sm-3 control-label">登录名</label>

            <div class="col-sm-5">
                <input type="text" class="form-control" ng-disabled="true" id="uid" name="uid"
                       value="{{data.uid}}">
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error' : frm.newPasswd.$dirty && frm.newPasswd.$invalid, 'has-success' : frm.newPasswd.$dirty && frm.newPasswd.$valid}">
            <label for="newPasswd" class="col-sm-3 control-label">新密码</label>

            <div class="col-sm-5">
                <input
                        type="password" class="form-control" id="newPasswd" name="newPasswd"
                        placeholder="New Password"
                        ng-model="data.newPasswd" required ng-pattern="/^\w+$/">
            </div>
        </div>


        <div class="form-group"
             ng-class="{'has-error' : frm.confirmPasswd.$dirty && frm.confirmPasswd.$invalid, 'has-success' : frm.confirmPasswd.$dirty && frm.confirmPasswd.$valid}">
            <label for="confirmPasswd" class="col-sm-3 control-label">确认密码</label>

            <div class="col-sm-5">
                <input
                        type="password" class="form-control" id="confirmPasswd" name="confirmPasswd"
                        placeholder="Confirm Password"
                        ng-model="data.confirmPasswd" required ng-pattern="/^\w+$/"
                        ui-validate="'$value==data.newPasswd'"
                        ui-validate-watch="'data.newPasswd'">
            </div>
            <div ng-show="!!frm.confirmPasswd.$error.validator && frm.confirmPasswd.$dirty">
                <p class="text-danger">密码不一致</p>
            </div>

        </div>


    </div>

    <div class="modal-footer">
        <div class="col-md-offset-3 col-md-5">
            <button class="btn btn-success" type="submit">
                <i class="fa" ng-class="{'fa-check': !loading, 'fa-spinner fa-spin': loading}"></i>
                保存
            </button>
            <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>

</form>
