<div class="col-md-4 col-md-offset-4">
    <div class="text-center">
        <h1>安哥地盘
            <small app-version></small>
        </h1>
        <hr/>
    </div>
    <form name="frm" class="form-horizontal" role="form" ng-submit="frm.$valid && login(credentials)">
        <div class="dv-login">
            <div class="form-group"
                 ng-class="{'has-error' : frm.uid.$dirty && frm.uid.$invalid}">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input name="uid" class="form-control" placeholder="登录名" ng-model="credentials.name"
                           required>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{'has-error' : frm.passwd.$dirty && frm.passwd.$invalid}">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input name="passwd" type="password" class="form-control"
                           placeholder="密码" ng-model="credentials.passwd" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary btn-block btn-lg" type="submit">
                    <i class="fa" ng-class="{'fa-sign-in': !loading, 'fa-spinner fa-spin': loading}"></i> 登录
                </button>
            </div>
        </div>
    </form>
</div>
